name: Security Testing

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  SAST:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.6"
          cache: false

      - name: Run SAST (golangci-lint)
        uses: golangci/golangci-lint-action@v6
        with:
          version: "latest"
          only-new-issues: true
          args: --timeout=10m

  SCA:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.6"
          cache: false

      - name: Run SCA (govulncheck)
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.23.6
          go-package: ./...
          output-format: sarif
          output-file: results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
          category: SCA
